/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Asterix wildcard selector to overide default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

h2,
h3 {
    margin-top: 20px;
    text-align: center;
}

p {
    text-align: center;
}

/* Header */
header {
    background-color: white;
    position: fixed;
    box-shadow: 0 5px 5px black;
    width: 100%;
    display: flex;
    align-items: baseline;
    z-index: 100;
}

img {
    max-height: 100px;
    max-width: 100%;
}

/* Navbar styles with drowpdown toggle */
nav {
    position: absolute;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-top: 10px;
    background-color: white;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    color: black;
    font-size: 3rem;
}

ul {
    list-style-type: none;
    display: inline-block;
}

li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

/* Main content */
main {

    /* Make element take up surplus space and push footer down*/
    flex: 1 0 auto;
    background-color: black;
    margin-top: 112px;
    position: relative;
    z-index: 0;
}

.favicon_container {
    text-align: center;
    padding-top: 20px;
}

/*Hero Section */
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero.webp") no-repeat center center/cover;
    position: relative;
    z-index: 1;
}

#cover-text {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 10px;
    width: 50%;
    padding-left: 5px;
}

/* Footer */
#social-networks {
    text-align: center;
    background-color: forestgreen;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 10%;
    color: white;
    margin: 0 20px;
}

/* Membership Styles */
#gymnast {
    height: 370px;
    width: 100%;
    background: url("../images/gymnast_beam.jpg") no-repeat center center/cover;
    position: relative;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

.required {
    color: forestgreen;
}

/* Location Styles */
.map-container {
    width: 30%;
}

table {
    border: 2px solid forestgreen;
    text-align: center;
    margin: 0 auto;
}

th,
td {
    border: 2px solid forestgreen;
}

/* Media query: Tablets and larger */
@media screen and (min-width: 768px) {
    nav {
        padding-top: 10px;
        position: relative;
        display: block;
    }

    /* Hover for nav menu*/
    ul li a:hover {
        background-color: forestgreen;
    }

    header {
        display: block;
    }

    main {
        margin-top: 205px;
    }

    img {
        max-height: 150px;
        max-width: 100%;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Hero */
    #hero {
        height: 600px;
        background-position: top;
    }

    #cover-text {
        bottom: 10px;
        width: 70%;
        padding-left: 10px;
        font-size: 120%;
    }

    #gymnast {
        height: 500px;
        width: 100%;
        background: url("../images/meg_hero.webp") no-repeat center center/cover;
        position: relative;
    }

    .map-container {
        margin-top: 80px;
        /* Adjust margin from the top */
    }

}

@media screen and (min-width: 992px) {

    #hero {
        height: 1200px;
        width: 100%;
    }


    #gymnast {
        height: 900px;
        width: 100%;
        background: url("../images/meg_ryan.webp") no-repeat center center/cover;
        position: relative;
    }
}